* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.game-area {
    height: 100vh;                              /* 100% available height space */
    display: flex;
    background-color: rgb(136, 136, 136);
}


/* Heading and Score Board */
header, footer {
    background-color: rgb(136, 136, 136);
    text-align: center;
}

h1 {
    text-decoration: underline; 
    color: rgb(255, 255, 255);
}

.score {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 10px 0 0 0;
}

button:hover {
    box-shadow: inset 0px 0px 0px 1px black;
    box-sizing: border-box;
}

.restart {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

p{
    padding: 8px 0;
}


/* Board */

.board {
    width: 500px;
    height: 600px;
    margin: auto;                               /* center board on page */
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;                        /* 3d effect */
}

.card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);                        /* click effect */
    transform-style: preserve-3d;               /* 3d effect */
    transition: transform .5s;                  /* 3d effect */
}

.card:active{                                   /* click effect */
    transform: scale(0.97);
    transition: transform .2s;
}

.card.flip{
    transform: rotateY(180deg);
}

.front-face,
.back-face{
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;                /* hides backface */
}

.front-face {
    transform: rotateY(180deg);
}

/* The Modal (background) */
.modal {
    display: none;                                /* Hidden by default */
    position: fixed;                              /* Stay in place */
    z-index: 1;                                   /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;                                  /* Full width */
    height: 100%;                                 /* Full height */
    overflow: auto;                               /* Enable scroll if needed */
    background-color: rgb(0,0,0);               /* Fallback color */
    background-color: rgba(0,0,0,0.4);          /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: rgb(136,136,136);
    margin: 15% auto;                               /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;                                   /* Could be more or less, depending on screen size */
    text-align: center;
}
